{% extends 'layout.html.twig' %}

{% block title %}Edit Comment{% endblock %}

{% block body %}
    <h1>Edit Comment</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}
